
@font-face {
    font-family: Jersey;
    src: url(Jersey10-Regular.ttf); 
}

* {
    font-family: Jersey, sans-serif;
    letter-spacing: 5px;
    color: #56B897;
}

body{
    background-image: url("windows-bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 600px;
    height: 650px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}

#header{
    background-color:white;
    border-radius: 10px;
}

#miku {
    border-radius: 10px;
}

#section1{
    display: flex;
}

#Div1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 700px;
    gap: 30px;
    margin-top: 10px;
}

#Div2 {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    justify-content: left;
    text-align: center;
    margin-top: 10px;
}

#gif {
    border-radius: 10px;
    width: 200;
    height: 100px;
    justify-content: center;
}

#blinkiesy {
    display: flex;
    justify-content: left;
}

.tab-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.tab {
    padding: 20px;
    transition: transform 0.2s;
    cursor: pointer;
}

.tab:hover {
    transform:scale(1.03);
}

#tab {
    width: 200px;
    height: 30px;
    background-color:white;
    border-radius:12px;
    justify-content: left;
    text-align: center;
    font-size: 30px;
}
